{
  "extends": ["./node_modules/kcd-scripts/eslint.js"],
  "rules": {
    "max-lines-per-function": "off",
    "no-constant-condition": "off",
    "no-await-in-loop": "off",
    "no-console": "off",
    "import/no-unresolved": "off",
    "react-hooks/rules-of-hooks": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-unnecessary-condition": "off",
    "@typescript-eslint/no-invalid-void-type": "off"
  },
  "parserOptions": {
    "project": ["./tsconfig.json", "./test/tsconfig.json"]
  }
}
