{
  "extends": ["./node_modules/kcd-scripts/eslint.js"],
  "rules": {
    "max-lines-per-function": "off",
    "no-constant-condition": "off",
    "no-await-in-loop": "off",
    "no-console": "off",
    "import/no-unresolved": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-unnecessary-condition": "off",
    "@typescript-eslint/no-invalid-void-type": "off",
    "@typescript-eslint/non-nullable-type-assertion-style": "off",
    "@typescript-eslint/sort-type-union-intersection-members": "off"
  },
  "parserOptions": {
    "project": ["./tsconfig.json", "./scripts/tsconfig.json"]
  }
}
