# node
node_modules

# build generated
lib
dom
native
server
pure
.docz
site

# tests (need the !files because of the build generated above)
coverage
!src/dom
!src/native
!src/server

# settings from IDE
.vscode
